.report-container {
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.report-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background-color: #80cdfe;
  padding: 1ch;
  border-radius: 20px;
}

h2 {
  max-width: 200px;
  text-align: center;
  background-color: #fae4b5;
  padding: 1ch;
  border-radius: 20px;
  margin: 0 auto; /* 初始居中显示 */
  cursor: pointer;
  transition: all 0.7s ease; /* 添加过渡效果 */
}

.divider {
  margin: 20px 0;
  border: none;
  height: 2px;
  background-color: #ccc;
}

.report-section {
  margin-bottom: 20px;
}

.report-section h2:hover {
  font-size: 24px;
  color: #333;
  background-color: #e9c26f;
  transition: all 0.5s ease;
}

.report-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.highlighted-result {
  font-size: 18px;
  font-style: italic;
  padding: 15px;
  margin: 10px 0;
  color: #190c00;
}

.back-button {
  background-color: #00796b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.back-button:hover {
  background-color: #004d40;
}

.content {
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.content.show {
  max-height: 600vh;
  transform: translateY(0);
  opacity: 1;
}

.select_enterprise{
  margin: 0px 10px ;
}

.analyist_button{
  margin: 0 10%;
}
